@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt|Special+Elite);

h1 {
  font-family: 'Rock Salt', cursive;
  left: 50%;

  }
#gamebox {
  margin-left: 25%;
  margin-right: 25%;
}
#direction {
  text-transform: uppercase;
}

html {
  font-family: 'Special Elite', cursive;
  color: #FF00FF;
  background-color: black;
  align-content: center;
  text-align: center;
  margin: 0%;
}

form {
  padding-top: 2mm;
  font-size: 9pt;
  margin: 0 auto;
  background-color: beige;
  border: 5px;
  border-style: inset;
  border-color: yellow;
  border-width: thick;
  position: relative;
}
#aboutpage {
  background-color: beige;
  border: 5000px;
  border-style: inset;
  border-color: yellow;
  border-width: thick;
  object-position: center;
  position: static;
}
.picborder {
  background-color: beige;
  border: 5000px;
  border-style: inset;
  border-color: yellow;
  border-width: thick;
  object-position: center;
  position: static;
}


#score_counter {
  padding-top: 1mm;
  width: 100px;
  height: 50px;
  background-color: beige;
  border-style: outset;
  border-color: yellow;
  border-width: thick;
  float:right;
  position: absolute;
  bottom: 485px;
  left: 900px;
  text-align: center;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: inline;
    text-decoration: none;
    color: initial;
}
