<!DOCTYPE html>
<html>
  <header>
    <title>Game Over</title>
    <link rel ="stylesheet" type="text/css" href="stylesheets/style.css">
  </header>
  <body>
    <center><div id="endgame1" style="width: 600px">

    <form action="/">
    <h1>{{event_encounter}} {{event_outcome}}Your game is over. Loser.</h1>

    <img src="https://c1.staticflickr.com/5/4071/4322672803_d27c0c2ccf_n.jpg" height="400px" width=90%>
    <h3>~ REST IN PIECES ~</h3>
  <button type="submit" style="font-size: 13px">Start over.</button>
</form>
  </div></center>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/jquery.js" type="text/javascript" ></script>
</html>
