<!DOCTYPE html>
<html>
  <header>
    <title>Game</title>
    <link rel ="stylesheet" type="text/css" href="stylesheets/style.css">
  </header>
  <body>
    <h1>It's the game of life.</h1>
    <p></p>
    <div><center>
    <form method="post" action = "/drugsresults" style="width: 500px" required>{{story_text}} {{event_encounter}} {{event_outcome}}
    <br>
      <span id="picofstart"><img src="https://lygsbtd.files.wordpress.com/2014/01/drug-dealer.jpg?w=490" height="400px" width=90%></img></span>
      <center>What would you like to do?<br>
      <div style="text-align: left; width: 300px">
      <input  type="radio" name="user_direction" value="no" required>You don't have time for this.<br>
      <input  type="radio" name="user_direction" value="drugs" required>That price is too good to pass up.<br>

      </div>
      <input  type="submit" value="Do this."></input>
    </div>

    </center></form>
  </div>
  <div id="score_counter">
    <p> Score: {{user_score}} </p>
  </div>
  <!-- <p> You went <span style="text-transform: uppercase">{{direction}}</span></p> -->
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/jquery.js" type="text/javascript" ></script>
</html>
