<!DOCTYPE html>
<html>
  <header>
    <title>Game</title>
    <link rel ="stylesheet" type="text/css" href="stylesheets/style.css">
  </header>
  <body>
    <h1>It's The Game of Life.</h1>
    <p></p>
    <div><center>
    <form method="post" action="" style="width: 500px">{{story_text}} {{event_encounter}} {{event_outcome}}
    <br>
      <span id="picofstart"><img src="http://i.huffpost.com/gen/1941141/images/o-CHICAGO-SHOOTING-facebook.jpg" height="400px" width=90%></img></span>
      <center>Which direction would you like to go?<br>
      <input type="radio" name="user_direction" value="North" >North<br>
      <input type="radio" name="user_direction" value="South" >South <br>
      <input type="radio" name="user_direction" value="East" >North   <br>
      <input type="radio" name="user_direction" value="West" >West   <br>
      <input type="submit" value="Take me this way!"></input>
    </center></form>
  </div>

  <p> You went <span style="text-transform: uppercase">{{direction}}</span></p>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/jquery.js" type="text/javascript" ></script>
</html>
