<!DOCTYPE html>
<html>
  <header>
    <!-- <title>The Game of Life</title>
    <link rel ="stylesheet" type="text/css" href="stylesheets/style.css">
  </header>
  <body>
    <h1>Welcome to the game of life.</h1>

      <center>
        <div id ="welcomepage" style="width: 600px">
          <form action="/game">
            <h3>{{greeting}} <br> {{state_user}} {{user}}<h3>
            <img src="https://gamesfemme.files.wordpress.com/2012/07/happy-smile.png" height="400px" width=90%></img>
              <br>
            <button type="submit" style="font-size: 15px">Start game</button>
          </form>

        </div>
      </center> -->



    <title>Welcome</title>

  </header>
  <body>
Login here maybe? {{greeting}}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/jquery.js" type="text/javascript" ></script>
</html>
